version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=rice_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    restart: always

  web:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app/backend
      - ./gee-key.json:/app/backend/gee-key.json
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/backend/gee-key.json
      - PYTHONUNBUFFERED=1

volumes:
  postgres_data: