version: '3.8'

services:
  db:
    image: postgis/postgis:13-3.1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=rice_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app/backend
      # Mount ไฟล์ Key เข้าไปเพื่อให้แก้แล้วไม่ต้อง Rebuild
      - ./gee-key.json:/app/backend/gee-key.json
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/backend/gee-key.json

volumes:
  postgres_data: